<!DOCTYPE html> 
<html> 
<head>
    <title>YouTube Video Downloader</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body> 

<div class="container">
    <h1>Youtube Video Downloader</h1>	
    <form action="" method="post"> 
    {% csrf_token %} 
    <label for="link">Enter URL:</label> 
    <input type="text" id="link" name="link"><br><br> 
    <input type="submit" value="Submit"> 
    </form> 
</div>

</body> 
</html>
